/*
 * Contains all clock styling
 */

body {
  background: white;
  text-align: center;
} #clock .ring {
  fill: none;
}#clock #needle {
  stroke-width: .8;
  stroke: red;
} #clock .tb {
  fill: royalblue;
}

body {
  margin: 10px;
  background-position: center top;
}
.setbgim {
  background-repeat: no-repeat;
}
#clockwrapper {
  height: 90%;
  position: relative;
  display: inline-block;
}
#clockbg {
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  background-position: center -10px;
  -webkit-filter: blur(15px);
  filter: blur(15px);
}
#clock {
  display: block;
  height: 100%;
  position: relative;
  z-index: 100;
}

#clock text {
  fill: black;
  font-family: monospace;
}
#clock #time {
  font-size: 12px;
}
#clock #timer {
  font-size: 10px;
}
#clock .hourmark, #clock .minutemark, #clock .halfmark {
  stroke: black;
}
#clock .hourmark {
  stroke-width: .3;
}
#clock .halfmark {
  stroke-width: .3;
}
#clock .minutemark {
  stroke-width: .1;
}
